*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    box-sizing: border-box;
    color: #000;
}
.container{
    background: #ffff;
    color: #fff;
    width: 100%;
}
.header {
    position: fixed;
    width:100%;
    height: 70px;
    background-color: #fff;
    padding: 0;
    float: left;

}
.h_img{
    height: 32px;
    width: 104px;
    margin-left: 70px;
    margin-top: 17px;
    float: left;
}
.h_btn {
    width: 80px;
    height: 35px;
    border: none;
    margin-top: 15px;
    font-size: 14px;
    background-color: #fff;
    float: left;
}
.h_last {
    float: left;
    margin-left: 520px;
    margin-top: 10px;

}
#supp {
    background-color: #fff;
    border: none;
    font-size: 14px;
    
}
#book {
    width: 150px;
    height: 50px;
    margin-left: 20px;
    background-color: #fff;
    border-width: 1px;
    border-radius: 18px 18px;
    font-weight: bold;
    font-size: 14px;
}
.section1 {
    background: url('images/startpage_4_1600.3759fae8.png');
    background-size: 100% 120%;
    width: 100%;
    height: 460px;
    float: left;
    }
    .inner1_s1{
        font-size: 28px;
        font-weight: bold;
        margin-left: 386px;
        margin-top: 120px;
        float: left;
       
    }
    .inner2_s1{
        background-color: #ffff;
        width: 900px;
        margin-left: 180px;
        margin-top: 40px;
        padding: 22px;
        height: 170px;
        border-radius: 15px 15px;
        float: left;
    }
    input[type=radio] {
        border: 0px;
        width: 20px;
        height: 20px;
        accent-color: darkgreen;
    } 
   
    .tcol1 {
        width: 200px;
        height: 30px;
        margin-top: 10px;
        margin-left: 20px;
    }
    .fromto{
            border-style: solid;
            border-width: 1px;
            width: 302px;
            height: 46px;
            border-radius: 4px 4px;
            border-color: rgb(201, 198, 198);
    }
    .txtfrmto{
        border:none; 
        width: 250px; 
        height: 25px; 
        font-size: 14px;
    }
    .btnsearch{
    width: 160px;
    height: 47px;
    background:darkgreen;
    border-radius: 15px 15px;
    font-size: 14px;
    margin-left: 25px;
    color: #ffff;
    font-weight: bold;
    }
    .section2
    {
        width: 100%; 
        height: 70px; 
    }
  .s2img {
    width: 38px;
    height: 38px;
    margin-top: 15px;
    filter: invert(21%) sepia(100%) saturate(7414%) hue-rotate(359deg) brightness(94%) contrast(117%);
    float: left;
  }
 .inner1_s2{
    width: 300px;
    height: 70px;
    padding-top: 0px;
    float: left;
    
 }
 .s2labl{
    width: 300px;
    height: 30px;
    color: #000;
    margin-top: 24px;
    font-size: 15px;
    font-weight: 700;
 }
 .section3{
    width: 100%; 
    height: 200px; 

    }
 .inner1_s3{

    height: 200px;
    background-color: rgb(241, 239, 239);
    float: left;
 }
 .section3 h4{
    font-size: 17px;
    font-weight: 700;
    margin-top: 35px;
    float: left;
 }
 .section3 p{
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
    float: left;
 }
 .section3 a{
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
    color: maroon;
    float: left;
 }
 .arrw{
    width: 15px; 
    height: 15px; 
    margin-left: 15px;
    
    filter: invert(21%) sepia(100%) saturate(7414%) hue-rotate(400deg) brightness(64%) contrast(50%) ;
 }
 .section4{
    width: 100%; 
    height: 270px; 
    float: left;
    }
.inner1_s4{
    float: left;
    width: 300px;
    height: 270px;
}
.inner1_s04{
    float: left;
    width: 700px;
    font-size: 15px;
    margin-left: 60px;
    margin-top: 20px;
    letter-spacing: 0.5px;
}
.inner2_s4
{
    width: 210px;
    height: 210px;
    margin-left: 475px;
    margin-top: 25px;
}