*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    box-sizing: border-box;
    color: #000;
}
.container{
    background: #ffff;
    color: #fff;
    width: 100%;
}
.header {
    position: fixed;
    width:100%;
    height: 70px;
    background-color: #fff;
    padding: 0;
    z-index: 99;

}
.h_img{
    height: 32px;
    width: 104px;
    margin-left: 70px;
    margin-top: 17px;
    float: left;
}
.h_btn {
    width: 80px;
    height: 35px;
    border: none;
    margin-top: 15px;
    font-size: 14px;
    background-color: #fff;
   
}
.h_btn:hover{
    background-color: rgb(222, 218, 218);
}
.h_last {
    float: left;
    margin-left: 490px;
    margin-top: 10px;
}
#supp {

    background-color: #fff;
    border: none;
    font-size: 14px;
    width: 90px;
    height: 50px; 
}
#supp:hover{
    background-color: rgb(222, 218, 218);
}
#book {
    width: 150px;
    height: 50px;
    margin-left: 20px;
    background-color: #fff;
    border-width: 1px;
    border-radius: 18px 18px;
    font-weight: bold;
    font-size: 14px;
   
}
#book:hover {
    background-color: #000;
    color: #fff;
  }
.section1 {
    background: url('images/startpage3.webp');
    background-size: cover;
    width: 100%;
    height: 460px;
    float: left;
    }
    .inner1_s1{
        font-size: 29px;
        font-weight: bold;
        margin-left: 460px;
        margin-top: 120px;
        float: left;
       
    }
    .inner2_s1{
        background-color: #ffff;
        width: 900px;
        margin-left: 180px;
        margin-top: 40px;
        padding: 22px;
        height: 170px;
        border-radius: 15px 15px;
        float: left;
    }
    input[type=radio] {
        border: 0px;
        width: 20px;
        height: 20px;
        accent-color: darkgreen;
    } 

    .tcol1 {
        width: 200px;
        height: 30px;
        margin-top: 10px;
        margin-left: 20px;
    }
    .fromto{
            border-style: solid;
            border-width: 1px;
            width: 302px;
            height: 46px;
            border-radius: 4px 4px;
            border-color: rgb(201, 198, 198);
    }
    .txtfrmto{
        border-style: none;
        width: 250px; 
        height: 25px; 
        font-size: 14px;
    }
    .btnsearch{
    width: 160px;
    height: 47px;
    background:darkgreen;
    border-radius: 15px 15px;
    border: none;
    font-size: 14px;
    margin-left: 25px;
    color: #ffff;
    font-weight: bold;
    }
    .btnsearch:hover{
        background-color: rgb(184, 206, 199);
        color: darkgreen;
        border: solid 1px;
    }
    .section2
    {
        width: 100%; 
        height: 70px; 
        float: left;
    }
  .s2img {
    width: 38px;
    height: 38px;
    margin-top: 15px;
    filter: invert(21%) sepia(100%) saturate(7414%) hue-rotate(359deg) brightness(94%) contrast(117%);
    float: left;
  }
 .inner1_s2{
    width: 300px;
    height: 70px;
    padding-top: 0px;
    float: left;
    
 }
 .s2labl{
    width: 300px;
    height: 30px;
    color: #000;
    margin-top: 24px;
    font-size: 15px;
    font-weight: 700;
 }
 .section3{
    width: 100%; 
    height: 200px; 
    float: left;
    }
 .inner1_s3{

    height: 200px;
    background-color: rgb(241, 239, 239);
    float: left;
 }
 .section3 h4{
    font-size: 17px;
    font-weight: 700;
    margin-top: 35px;
    float: left;
 }
 .section3 p{
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
    float: left;
 }
 .section3 a{
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
    color: maroon;
    float: left;
 }
 .arrw{
    width: 15px; 
    height: 15px; 
    margin-left: 15px;
    
    filter: invert(21%) sepia(100%) saturate(7414%) hue-rotate(400deg) brightness(64%) contrast(50%) ;
 }
 .section4{
    height: 270px; 
    float: left;
    }
.inner1_s4{
    float: left;
    width: 300px;
    height: 270px;
}
.inner1_s04{
    float: left;
    width: 700px;
    font-size: 15px;
    margin-left: 60px;
    margin-top: 20px;
    letter-spacing: 0.5px;
}
.inner2_s4
{
    position: relative;
    width: 210px;
    height: 210px;
    margin-left: 490px;
    margin-top: 20px;
  
}
.section5 {
    float: left;
    width: 100%;
    height: 470px;
    background-color: rgb(184, 206, 199);
}
.inner1_s5 {
    position: relative;
    width: 1194px;
    top: 25px;
    left: 60px;
}
#s5_thead{
    font-size: 14px;
    font-weight: normal;
    width: 290px;
    height: 30px;
}
.inner2_s5{
    position: relative;
    width: 1200px;


}
#img_ftr{
    width: 1120px;
    height: 86px;
    position: relative;
    left: 70px;
    top: 60px;
}
.inner3_s5{
    position: relative;
    width: 700px;
    left: 505px;
    top: 70px;

}
#img_ftr2{
    filter: contrast(20%);
    width: 55px;
    height: 35px;
}
#img_ftr3{
    filter: contrast(20%);
    width: 100px;
    height: 16px;
    padding-left: 20px;
}
#img_ftr4{
    filter: contrast(20%);
    width: 80px;
    height: 25px;
    padding-left: 20px;
}
.inner4_s5{
    position: relative;
    width: 1000px;
    left: 100px;
    top: 60px;

}
#s5_para1{
    font-size: 12px;
    width: 1000px;
    margin-top: 20px;
    margin-left: 40px;
    text-align: center;
   
}



